* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Poppins', sans-serif;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.mainHeader {
    width: 100%;
    height: 70%;
    position: relative;
}
.logoArea {
    width: 70px;
    height: 70px;
    margin: auto;
    position: fixed;
    bottom: 1%;
    left: 45%;
}
p.warnS {
    text-align: center;
    padding: 10px;
    top: 50%;
    font-size: 30px;
    color: #ccc;
    font-style: italic;
}
p.warnS i {
    color: #eaea3f;
}
h1.siteCaption {
    margin: 70px auto;
    text-align: center;
    font-family: 'Damion', sans-serif;
}
.logoArea img {
    width: 100%;
    height: 100%;
}
.logoHead {
    height: 50px;
    width: 135px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.logoHead img {
    width: 100%;
    height: 100%;
}
.menuBar {
    height: 60px;
    width: 95%;
    /* border-bottom: 1px solid #f1f1f1; */
}
.menuUserButtons {
    float: right;
}
.menuUserButtons ul {
    display: block;
}
.menuUserButtons ul li {
    display: inline-block;
    font-size: 12px;
    color: #fff;
}
.menuUserButtons ul li.signupButton {
    padding: 10px 20px;
    margin: 10px 6px;
    background: #2a65ea;
    /* border-radius: 4px; */
    cursor: pointer;
}
.menuUserButtons ul li.signupButton:hover {
    box-shadow:  0 0 4px #ccc;
    -webkit-box-shadow:  0 0 4px #ccc;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
}
.menuUserButtons ul li.loginButton {
    color: #2a65ea;
}
.searchBar {
    width: 50%;
    height: 50px;
    position: absolute;
    z-index: 999999999;
    top: 50%;
    left: 25%;
    border: 1px solid #f1f1f1;
}
.searchBar input[type="submit"] {
    display: none;
}
.searchBar input[type="search"] {
    width: 90%;
    height: 100%;
    border: none;
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    float: left;
    outline-color: #ccc;
}

@media only screen and (min-width: 160px) and (max-width: 600px) {
    .resultArea {
        width: 90%;
        left: 5%;
    }
    .searchBar {
        width: 90%;
        left: 5%;
    }
}
.searchBar label {
    width: 10%;
    height: 100%;
    float: left;
    background: #2a65ea;
    text-align: center;
}
.resultArea {
    width: auto;
    max-width: 50%;
    height: auto;
    padding: 10px;
    max-height: 70%;
    overflow-y: scroll;
    background: #fff;
    margin-top: 60px;
    position: fixed;
    z-index: 99999999;
    left: 25%;
    border-radius: 4px;
    display: none;
    box-shadow: 0 0 4px #f1f1f1;
    -webkit-box-shadow: 0 0 4px #f1f1f1;
}
.resultDanger {
    background: #dc3232;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: auto;
}
.resultSuccess {
    background: #4caf50;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    width: 50%;
    margin: auto;
}
.searchBar label i {
    color: #fff;
    line-height: 50px;
    font-size: 20px;
}
.formsArea {
    width: 100%;
    height: 100%;
    background: url("../img//photography.jpg")no-repeat fixed #212121;
    background-size: cover;
    /* background: rgba(0, 123, 255, .5); */
    display: none;
    position: fixed;
    z-index: 99999999999999999999;
    text-align: center;
}
.formsAreaClose {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: #dc3232;
    z-index: 99999999;
}
.formsAreaClose i {
    color: #fff;
    line-height: 30px;
    font-size: 20px;
}
.logoFrame {
    width: 70px;
    height: 70px;
    margin: 10px auto;
}
.logoFrame img {
    width: 100%;
    height: 100%;
}
.formsTypes {
    width: 50%;
    height: 100%;
    float: right;
    background: #fff;
}
.signUp {
    padding: 20px;
    background: #fff;
    width: 100%;
    float: right;
    height: 100%;
    text-align: center;
    display: none;
    overflow-y: scroll;
}
.signUp textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 90%;
    font-size: 12px;
}
.signUp input[type="file"] {
    display: none;
}
label.userImage {
    padding: 10px;
    background: #2a65ea;
    color: #fff;
    font-size: 12px;
}
#allusers {
    width: 100%;
    margin: 10px auto;
}
.logout a {
    color: #fff;
    background: #2a65ea;
    padding: 10px;
    border-radius: 4px;
    font-size: 10px;
    text-decoration: none;
}
h5.card-title {
    font-size: 16px !important;
    font-weight: bold;
}
a.cardLink {
    background: #2a65ea;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
}
a.cardLink:hover {
    box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
}
.signUp input[type="text"], .signUp input[type="password"],
.signUp input[type="email"], .signUp select, .signUp input[type="number"] {
    border: none;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    outline: none;
}
.signUp select {
    border: 1px solid #f1f1f1;
    /* border-radius: 4px; */
    background: #2a65ea;
    color: #fff;
    outline: none;
}
.signUp span {
    font-size: 12px;
    color: #212121;
}
.signUp p {
    font-size: 12px;
}
/* .socialMedia {
    width: 50px;
    height: 300px;
    top: 20%;
    background: #212121;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: fixed;
    right: 0;
    z-index: 999999999999999999999999999;
} */
.signUp input[type="text"].half, .signUp input[type="email"].half,
.signUp input[type="number"].half {
    width: 43%;
    margin: 0 1% 0 1%;
}
.signUp input[type="submit"], .login input[type="submit"] {
    clear: both;
    margin: 10px auto;
    color: #fff;
    background: #2a65ea;
    font-size: 12px;
    border: none;
    padding: 10px 20px;
    /* border-radius: 4px; */
}
.userFormNot {
    position: absolute;
    width: 20%;
    height: auto;
    right: 1%;
    top: 31%;
    border-radius: 4px;
    padding: 10px;
    background: #fff;
}
.login {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-top: 15%;
    display: none;
}
.login input[type="text"], .login input[type="password"] {
    width: 40%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
    font-size: 12px;
    outline: none;
    padding: 10px;
}
.login a {
    color: #212121;
    font-size: 12px;
    text-decoration: none;
}

/*------------------------------------
User Dashboard
------------------------------*/
.dashThreadHead {
    width: 100%;
    height: 50px;
    background: #2a65ea;
    /* box-shadow: 0 0 2px #212121;
    -webkit-box-shadow: 0 0 2px #212121; */
}
.dashMenu {
    width: 100%;
    height: 50px;
    background: #fff;
}
.dashMenuHeader {
    padding: 10px;
    text-align: right;
    background: #fff;
}
.dashMenuHeader i {
    font-size: 22px;
    color: #999;
}
.dashThread {
    width: 100%;
    height: 100%;
    margin: auto;
    background: #f1f1f1;
}
.edit, .feed {
    cursor: pointer;
}
.editProfileArea {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 0 10px 0;
    display: none;
}
.viewProfileArea {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 0 10px 0;
    margin-top: -30px;
}
.coverImage {
    width: 100%;
    height: 250px;
    position: relative;
}
.dim {
    background: rgba(0, 0, 0, .5);
    z-index: 99;
}
.coverImage img {
    width: 100%;
    height: 100%;
}
.menuButtons {
    float: left;
}
ul.menuButtons {
    display: block;
    text-align: center;
    padding-left: 50px;
}
ul.menuButtons li {
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.profileImage {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    border: 6px solid #fff;
    margin-top: -50px;
    margin-left: 20px
}
.profileImage img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.alignCenter {
    text-align: center;
}
.profIcons {
    font-size: 25px;
    color: #2a65ea;
}
.activesince {
    font-size: 12px;
    color: #999;
}
.activecat {
    font-size: 12px;
    color: #fff;
    padding: 10px;
    background: #2a65ea;
    border-radius: 4px;
}
.smi {
    width: 50px;
    position: fixed;
    right: 0;
    background: #2a65ea;
    top: 20%;
}
.smi a {
    color: #fff;
    clear: both;
    margin: 40px 10px;
    font-size: 20px;
}
.smiIcon {
    width: 50px;
    height: 50px;
}
.editFormArea {
    width: 70%;
    padding: 10px;
    margin: 20px auto;
    float: left;
}
.editFormArea2 {
    width: 100%;
    padding: 10px;
    margin: 20px auto;
}
.editFeed {
    width: 25%;
    height: 100%;
    padding: 10px;
    float: right;
    margin: 10px 0;
    background: url("../img/line_ver2.gif") repeat-y left;
}
.threadArea {
    background: #f1f1f1;
    width: 90%;
    padding-top: 20px;
    margin: auto;
}

#editForm {
    margin-top: 20px;
    padding: 0 20px;
}
#editForm textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 90%;
    font-size: 12px;
}
#editForm select {
    /* border-radius: 4px; */
    border: none;
    background: #2a65ea;
    color: #fff;
    outline: none;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
}
#editForm input[type="text"], #editForm input[type="password"], 
#editForm input[type="email"], #editForm input[type="number"] {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 45%;
    float: left;
    margin: 20px 10px;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
}
#editForm input[type="submit"] {
    padding: 10px 30px;
    background: #2a65ea;
    color: #fff;
    border: none;
    font-size: 12px;
    margin: auto;
    font-weight: bold;
}

/*Edit bootstrap container-fluid*/
.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}
.bd-example {
    height: 500px;
}
.card-text {
    font-size: 12px !important;
}
ul.list-group {
    font-size: 12px !important;
}
ul.list-group li i {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.card-columns .card {
    width: 70% !important;
}
.price {
    color: #2a65ea;
    font-weight: bold;
}
.card-columns {
    column-gap: 0 !important;
}
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #2a65ea;
    z-index: 999999999999999999999;
}